{% extends 'base.html' %}
{% block title %}Apply For IPO{% endblock %}
{% block content %}
{% load static %}
{%include 'nav.html' %}

<section class="side-content" id="applyipo">
    <div class="text">
        <h1>Choose Share And Appy IPO</h1>
        <hr>
      
        <div>
            <form method="Post" id="next-form">
                {% csrf_token %}
                {% if ipos  %}
                <div class="form-group">
                    <label for="id_shareId">Select Share:</label>
                    <select name="shareId" class="form-control" data-live-search="true" data-filter="true"
                        id="id_shareId">
                        <option disabled selected>Select Share Loading...</option>
                        {% for i in ipos %}
                        <option value="{{ forloop.counter }}"> {{i|safe}}</option>
                        
                        {% endfor %}
                    </select>
                </div>
        

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Apply IPO</button>
                </div>
               
                
                {% endif %}




            </form>
        </div>
    </div>
        <footer>
            <p>© 2023 BulkShare | Made with Django and React by <a href="https://github.com/prashant0ngx/" class="link">Prashant
                    Bhandari</a>. All rights reserved</p>
        </footer>
</section>
{% endblock %}