amqp==1.4.9
anyjson==0.3.3
asgiref==3.6.0
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2022.12.7
charset-normalizer==3.0.1
collection==0.1.6
colorama==0.4.6
Django==3.2.17
django-celery==3.3.1
einops==0.2.0
filelock==3.9.0
gdown==3.11.0
idna==3.4
kombu==3.0.37
numpy==1.21.6
opencv-python==4.7.0.68
orderedpy==0.0.2
Pillow==9.4.0
PySocks==1.7.1
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
six==1.16.0
sqlparse==0.4.3
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.1
transformerocr==0.1.14
typing==3.7.4.3
typing_extensions==4.4.0
urllib3==1.26.14
